@import 'main.css';

.container{
    position: relative;
    margin: 0 auto;
    max-width: 40em;
    background-color: aliceblue;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 0.5em;
    border: 2px outset var(--yellow-color);
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--dark-color);
    max-width: 40em;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--dark-color);
}
.header *{
    margin: 0;
}
.img{
    transition: 0.3s;
    cursor: pointer;
}
.img:hover{
    transform: scale(1.2);
}

.field{
    border-bottom: 3px solid var(--dark-color);
    padding: 1em 0;
    margin-top: 0;
    height: 30em;
    overflow-y: scroll;
}

.inputPanel{
    padding: 0.5em 2em;
    margin-top: 0;
    max-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    padding: 0.5em;
    width: 100%;
    border-radius: 0.3em;
}

.button{
    background-color: var(--dark-color);
    padding: 0.5em;
    margin: 0 0.5em;
    color: aliceblue;
    width: 10em;
    border-radius: 0.3em;
}

.message{
    margin: 0.5em;
    display: flex;
    justify-content: flex-start;
    color: aliceblue;
}
.yourMessage{
    margin: 0.5em;
    display: flex;
    justify-content: flex-end;
    color: var(--yellow-color);
}

.messageItem{
    max-width: 75%;
    background-color: var(--dark-color);
    padding: 1em;
    line-height: 1.2em;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    overflow-wrap: break-word;
}
.yourMessageItem{
    max-width: 75%;
    background-color: var(--dark-color);
    padding: 1em;
    line-height: 1.2em;
    border-radius: 1em;
    border-bottom-right-radius: 0;
    overflow-wrap: break-word;
}

.username{
    margin: 0;
    padding: 1.5em 0.5em;
    color: var(--dark-color);
    font-weight: 600;
}
.adminText{
    max-width: 60%;
    margin: 1em 0.5em;
    padding: 0.5em 0.5em;
    color: var(--dark-color);
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid;
    border-radius: 1em;
    border-bottom-left-radius: 0;
}

.userListActive{
    transition: 0.5s;
    background-color: var(--dark-color);
    width: 50%;
    height: 30em;
    position: absolute;
    z-index: 1;
    top: -2px;
    right: -4px;
    border: 1px outset var(--yellow-color);    
}
.userList{
    transition: 0.5s;
    background-color: var(--dark-color);
    width: 30%;
    height: 30em;
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -30em;
    border: 1px outset var(--yellow-color);  
}

.userListActive ul{
    margin: 0;
    padding: 0em 3em;
}

.userListActive ul li{
    font-size: 1.2rem;
    margin-top: 0.1em;
    padding: 0.5em;
    color: var(--green-color);
}

.userListActive h2{
    color: var(--green-color);
    padding: 1em;
}

